<table width=100%>
    <tr>
    <th width=16.6%>First name</th>
    <th width=16.6%>Last name</th>
    <th width=16.6%>Email</th>
    <th></th>
    <th></th>
    <th></th>
    </tr>
    <tr *ngFor="let user of users" >
        <td data-label="First name:">{{user.first_name}}</td>
        <td data-label="Last name:">{{user.last_name}}</td>
        <td data-label="Email:">{{user.email}}</td>
        <td><button>View</button></td>
        <td><button>Edit</button></td>
        <td><button>Delete</button></td>
    </tr>
</table>
