<div>
    <button class="giga__button">Create user</button>
    <table width=100%>
        <tr>
        <th width=20px >First name</th>
        <th >Last name</th>
        <th >Email</th>
        <th></th>       
        </tr>
        <tr *ngFor="let user of users" >
            <td data-label="First name:">{{user.first_name}}</td>
            <td data-label="Last name:">{{user.last_name}}</td>
            <td data-label="Email:">{{user.email}}</td>
            <td>
                <button (click)="view(user.id)">View</button>
                <button [routerLink]="['/user', user.id]">Edit</button>
                <button>Delete</button>
            </td>
        </tr>
    </table>
    <app-paginator [pageCount]=pageCount [currentPage]=currentPage></app-paginator>
</div>